<div class="container">
    <div class="container_header">
        <h2>Produtos Atlanta</h2>
        <div class="header">
            <input class="search-bar" type="text" placeholder="Pesquisar..." (input)="performSearch($event)" />
            <button class="add-button" (click)="showAddDialog()">Adicionar</button>
        </div>
        <hr>
    </div>
    <!-- Lista de itens -->
    <div *ngIf="filteredResp?.length > 0">
        <div class="scrollable-table-container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cor</th>
                    <th>Estado UF</th>
                    <th>Marca</th>
                    <th>Num eixos</th>
                    <th>Peso</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filteredResp">
                    <td>{{ item.nome }}</td>
                    <td>{{ item.cor }}</td>
                    <td>{{ item.estado_UF }}</td>
                    <td>{{ item.marca }}</td>
                    <td>{{ item.numero_de_eixos }}</td>
                    <td>{{ item.peso }}</td>
                    <td>{{ item.preco }}</td>
                    <td>
                        <button class="edit-button" (click)="showEditDialog(item.id)">Editar</button>
                        <button class="delete-button" (click)="deleteItem(item.id)">Deletar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal de adição -->
<div class="modal" [class.show]="displayAddDialog">
    <div class="modal-content">
        <h2>Adicionar Novo Item</h2>
        <form [formGroup]="formAdd" (ngSubmit)="addItem()">
            <div class="form-group">
                <label for="inputNome">Nome</label>
                <input id="inputNome" type="text" formControlName="inputNome" placeholder="Nome" />
            </div>
            <div class="form-group">
                <label for="inputCor">Cor</label>
                <input id="inputCor" type="text" formControlName="inputCor" placeholder="Descrição" />
            </div>
            <div class="form-group">
                <label for="editEstado">Estado</label>
                <input id="editEstado" type="text" formControlName="editEstado" placeholder="Descrição" />
            </div>
            <div class="form-group">
                <label for="inputMarca">Marca</label>
                <input id="inputMarca" type="text" formControlName="inputMarca" placeholder="Descrição" />
            </div>
            <div class="form-group">
                <label for="inputNumero_de_Eixos">Numero de Eixos</label>
                <input id="inputNumero_Eixos" type="text" formControlName="inputNumero_Eixos" placeholder="Descrição" />
            </div>
            <div class="form-group">
                <label for="inputPeso">Peso</label>
                <input id="inputPeso" type="text" formControlName="inputPeso" placeholder="Descrição" />
            </div>
            <div class="form-group">
                <label for="inputPreco">Preço</label>
                <input id="inputPreco" type="text" formControlName="inputPreco" placeholder="Descrição" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn">Adicionar</button>
                <button type="button" class="btn cancel" (click)="hideAddDialog()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal de edição -->
<div class="modal" [class.show]="displayEditDialog">
    <div class="modal-content">
        <h2>Editar Item</h2>
        <form [formGroup]="formEdit" (ngSubmit)="editItem()">
            <div class="form-group">
                <label for="editNome">Nome</label>
                <input id="editNome" type="text" formControlName="editNome" placeholder="Nome" />
            </div>
            <div class="form-group">
                <label for="editCor">Cor</label>
                <input id="editCor" type="text" formControlName="editCor" placeholder="Descrição" />
            </div>
            <div class="form-group">
                <label for="editMarca">Marca</label>
                <input id="editMarca" type="text" formControlName="editMarca" placeholder="Descrição" />
            </div>
            <div class="form-group">
                <label for="editEstado">Estado</label>
                <input id="editEstado" type="text" formControlName="editEstado" placeholder="Descrição" />
            </div>
            <div class="form-group">
                <label for="editNumero_de_Eixos">Numero de Eixos</label>
                <input id="editNumero_Eixos" type="text" formControlName="editNumero_Eixos" placeholder="Descrição" />
            </div>
            <div class="form-group">
                <label for="editPeso">Peso</label>
                <input id="editPeso" type="text" formControlName="editPeso" placeholder="Descrição" />
            </div>
            <div class="form-group">
                <label for="editPreco">Preço</label>
                <input id="editPreco" type="text" formControlName="editPreco" placeholder="Descrição" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn">Adicionar</button>
                <button type="button" class="btn cancel" (click)="hideAddDialog()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<!-- Mensagem quando não há resultados -->
<div *ngIf="filteredResp.length === 0">
    <h3>Nenhum resultado encontrado.</h3>
</div>
</div>